<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>dk.lockedin.daemon</string>
  <key>ProgramArguments</key>
  <array><string>/Library/PrivilegedHelperTools/dk.lockedin.daemon</string></array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>2</integer>
  <key>SoftResourceLimits</key><dict><key>NumberOfFiles</key><integer>4096</integer></dict>
  <key>HardResourceLimits</key><dict><key>NumberOfFiles</key><integer>8192</integer></dict>
  <key>StandardOutPath</key><string>/Library/Logs/LockedIn/lockedind.log</string>
  <key>StandardErrorPath</key><string>/Library/Logs/LockedIn/lockedind.log</string>
</dict>
</plist>
